.Button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0 10px;
  appearance: none;
  font-size: 30px;
  color: #999;
  height: 29px;
  line-height: 29px;
  transition: color 0.3s ease-in-out;
}

.Button:hover,
.Button:active {
  color: #747474;
}
